.DS_Store
.history/
dist/static
dist/index.html
dist/
node_modules/
false/
.cache/
.package-lock.json
workspace/hosts
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
